<?xml version="1.0" encoding="UTF-8"?>
<!--
定时任务 定时将每日总量 每日登陆量写入指定表
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ipSeeker" class="com.xiaomi.count.bean.IPSeeker" init-method="init" destroy-method="destroy"/>

    <bean id="agentSeeker" class="com.xiaomi.count.bean.AgentSeeker" init-method="init">
        <property name="agentService" ref="agentService"/>
    </bean>

    <bean id="barSeeker" class="com.xiaomi.count.bean.BarSeeker" init-method="init" />

    <!--spring线程池-->
    <bean id="threadPool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="1"/>
        <property name="maxPoolSize" value="2"/>
        <property name="queueCapacity" value="300"/>
        <property name="keepAliveSeconds" value="300"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$CallerRunsPolicy"/>
        </property>
    </bean>


    <bean name="job" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
        <property name="jobClass" value="com.xiaomi.count.scheduling.QuartzJob"/>
        <property name="jobDataAsMap">
            <map>
                <entry key="taskService" value-ref="taskService"/>
                <entry key="bootService" value-ref="bootService"/>
                <entry key="historyService" value-ref="historyService"/>
                <entry key="threadPool" value-ref="threadPool"/>
                <entry key="ipSeeker" value-ref="ipSeeker"/>
                <entry key="agentSeeker" value-ref="agentSeeker"/>
                <entry key="barSeeker" value-ref="barSeeker"/>
            </map>
        </property>
    </bean>

    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="job"/>
        <property name="cronExpression" value="0 */1 * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>

</beans>